/*
position :static (é o padrão)
position: fixed - fixa o elemento na tela 
position: sticky - delimitar o elemento em valores que voce coloca/ como um menu
position : relative - posição relativa a sua posição inicial
position : absolut - popsição absoluta a algum elemento ou a página 

propriedades

top 
bottom
left
right
*/